*{
    box-sizing: border-box;
}

body {
    background-color: #9e9e9e;
}
#wrapper{
    position: absolute;
    top: 100px;
    left: 400px;
    width: 500px;
    height: 500px;
}
#table {

    width: 100%;
    height: 100%;
}


td {
	border: .05px solid #607d8b;
}
.red {
    background-color: orange;
}

#clear, #gridsize {
    position: absolute;
    min-width: 30px;
    width: 10%;

    height: 40px;
    cursor: pointer;
    text-align: center;
     background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
}

#clear {
        left: 33%;
    top: 40px;
}

#gridsize {
    top: 40px;
    left: 50%;
}

